---
layout: default
title: Home
--- 
<table id="catalogtable" class="tablesorter">
  <thead>
    <tr>
    <th></th>
      <th class="bookidcell">ID</th>
      <th>Title</th> 
      <th>Series</th> 
      <th class="yearcell">Year</th>
    </tr>
  </thead>
  <tbody> 
  {% for p in site.pages %}
    {% if p.layout == 'book' %}   
      {% assign series = site.data.series[p.bookseries] %}
      {% assign bookid = p.bookid |append: '' %}     
      {% assign book = site.data.books[bookid] %}
      {%include citationstring.html%}
      <tr>
        <td>
          <a href="/book/{{ p.bookid }}">
            <img src="/resources/img/{{ p.bookid }}.png" class="leadcover">
            
<!--             <img class="catalogcover" src="https://raw.githubusercontent.com/langsci/{{p.bookid}}/master/cover.png" />   -->
          </a>
          <div class="linkwrapper">
            <div class="booklink"> <a href=""><img src="/resources/img/pdf.jpeg"/><a> </div>
            <div class="booklink"> <a href="{{ book.createspace }}"><img src="/resources/img/amazon.png"/></a> </div>
            <div class="booklink"> <a href="{{ book.bod }}"><img src="/resources/img/bod.jpg"/></a></div>
            <div class="booklink"> <a href="https://paperhive.org/documents/remote?type=langsci&amp;id={{p.bookid}}"><img src="/resources/img/paperhive.png"/></a></div>
          </div>

        </td>
        <td class="bookidcell"> {{ p.bookid }} </td>
        <td>
          <div class="title"> {{ book.title }} </div>
          <div class="booksubtitle"> {{ book.booksubtitle }} </div>
          <div class="author"> {{ creatorstring }} </div>
        </td>
        <td>
        <span class="series"><a href="/series/{{series.acronym}}">{{ series.acronym| upcase   }}</a></span>&nbsp;<span class="seriesnumber">{{ book.seriesnumber }}</span>
        </td>
        <td class="yearcell"> 
          {% assign tmp = book.publicationdate | split: '-' %}
          {{ tmp[0]  }}
        </td>
      </tr> 
    {% endif %} 
    {% endfor %} 
  </tbody>
</table>