---
layout: default
title: Hall of Fame
--- 
<div id="proofreaders">
<h3>Proofreaders</h3>

{% include computehalloffame.html %} 

<table id="proofreaderHoF" class="HoFtable">
{%for ignore in  proofsorted %} 
  {% assign proofindex=proofindex|minus:1 %}  
  {% assign person =proofsorted[proofindex][1]  %}
  {% assign count =proofsorted[proofindex][0]|size   %}
  
  {% assign tmpcount=count|minus: 1 %} 
  {% assign percentiles=percentilestore[tmpcount]  %}
  <tr>
    <td>  {{ person }}</td>
    <td> 
      <div class="HoFbar" style="width:{{ count }}0%;"> 
        <span title="proofread more than {{percentiles}}% of all proofreaders">{{count}}</span>
      </div>
    </td>
    
    <td>
    
      <div class="headerContent">      
        <div class="user">
          <a class="userName">{{person}}</a>
          <a href="http://langsci-press.org/user/publicProfile/766" class="linkToProfile">(view profile)</a>               
        </div>      
        <div class="achievements">          
        </div> 
        <div title="" class="colorBarWrapper  ">
          <div class="colorBar">
          <span>          {{count}}/{{percentiles}}                    </span>                 
        </div>
        <span class=" ">{{person}} has worked on {{count}} books and is thus statistically more active than {{percentiles}}% of the proofreaders.</span>
        </div>
      </div> 
    </td>
  </tr>
{%endfor %} 
</table>
</div>

<!-- Typesetter -->
<div id="typesetters">
<h3>Typesetters</h3>


<table id="typesetterHoF" class="HoFtable">
{%for ignore in  typesettersorted %} 
  {% assign typesetterindex=typesetterindex|minus:1 %} 
  <tr>
    <td>  {{ typesettersorted[typesetterindex][1] }}</td><td>{{ typesettersorted[typesetterindex][0]|size }}</td>
  </tr>
{%endfor %}
</table>
</div>


<!-- Illustrator -->
<div id="illustrators">
<h3>Illustrators</h3>


<table id="illustratorHoF" class="HoFtable">
{%for ignore in  sorted %} 
{% assign illuindex=illuindex|minus:1 %} 
  <tr>
  <td>  {{ illusorted[illuindex][1] }}</td><td>{{ illusorted[illuindex][0]|size }}</td>
  </tr>
{%endfor %}
</table>
</div>
 