---
layout: default
title: Hall of Fame
--- 
<div id="proofreaders">
<h3>Proofreaders</h3>

{% include computehalloffame.html %} 

<table id="proofreaderHoF" class="HoFtable">
{%for ignore in  proofsorted %} 
  {% assign proofindex=proofindex|minus:1 %}  
  <tr>
    <td>  {{ proofsorted[proofindex][1] }}</td>
    <td> 
      <div class="HoFbar" style="width:{{ proofsorted[proofindex][0]|size }}0%;">
        {%assign tmpcount=proofsorted[proofindex][0]|size|minus: 1 %} 
        <span title="proofread more than {{ percentilestore[tmpcount] }}% of all proofreaders">{{ proofsorted[proofindex][0]|size }}</span>
      </div>
    </td>
  </tr>
{%endfor %} 
</table>
</div>

<!-- Typesetter -->
<div id="typesetters">
<h3>Typesetters</h3>


<table id="typesetterHoF" class="HoFtable">
{%for ignore in  typesettersorted %} 
  {% assign typesetterindex=typesetterindex|minus:1 %} 
  <tr>
    <td>  {{ typesettersorted[typesetterindex][1] }}</td><td>{{ typesettersorted[typesetterindex][0]|size }}</td>
  </tr>
{%endfor %}
</table>
</div>


<!-- Illustrator -->
<div id="illustrators">
<h3>Illustrators</h3>


<table id="illustratorHoF" class="HoFtable">
{%for ignore in  sorted %} 
{% assign illuindex=illuindex|minus:1 %} 
  <tr>
  <td>  {{ illusorted[illuindex][1] }}</td><td>{{ illusorted[illuindex][0]|size }}</td>
  </tr>
{%endfor %}
</table>
</div>
 