---
layout: default
title: Hall of Fame
--- 
<div id="proofreaders">
<h3>Proofreaders</h3>
{% assign proofreaders = '' |split: ' ' %}  <!--empty array-->
{% for series in site.data.series %} 
  {% for book in series[1].members %} 
      {% assign bookid = book[0]  %}  
      {% for proofreader in  book[1].proofreaders %}         
        {% assign tmp = proofreader| split: "sdfsafsd" %}
        {% assign pusher = tmp | push: bookid %}
<!--         {{pusher}} -->
        {% assign proofreaders = proofreaders| push: pusher %}             
    {% endfor %}  
  {% endfor %}  
{% endfor %}  
 
{% assign sorted = proofreaders|sort%}
{% assign storage = ''|split: ' ' %}

{% assign current = '' %}
{% assign i = '' %}  

{% for proofreader in sorted   %}
  {% assign reader = proofreader[0] %}
  {% assign book = proofreader[1] %}
  {% if proofreader[0] != current %} 
    {% assign tmp = i |split: ' ' %} 
    {% assign tmp = tmp |push: current %}  
    {%if i != ''%} <!--for first iteration-->
      {% assign storage = storage| push: tmp %}
    {%endif %}
<!--     reinitialize -->
    {% assign current = proofreader[0] %}   
    {% assign i = '' %}    
  {% endif %}
  {% assign i = i| append:'.' %}
{% endfor %}
<!-- final element -->
{% assign tmp = i |split: ' ' %} 
{% assign tmp = tmp |push: current %} 
{% assign storage = storage| push: tmp %}
{% assign sorted = storage|sort%}  
{%assign index=sorted|size%}  <!--reversing an array seems to be complicated, so we count down from the length-->

<table id="proofreaderHoF">
{%for ignore in  sorted %} 
  {% assign index=index|minus:1 %} 
  <tr>
    <td>  {{ sorted[index][1] }}</td><td>{{ sorted[index][0]|size }}</td>
  </tr>
{%endfor %}
</table>
</div>

<!-- Typesetter -->
<div id="typesetters">
<h3>Typesetters</h3>
{% assign typesetters = '' |split: ' ' %}  <!--empty array-->
{% for series in site.data.series %} 
  {% for book in series[1].members %} 
      {% assign bookid = book[0]  %}  
      {% for typesetter in  book[1].typesetters %}         
        {% assign tmp = typesetter| split: "sdfsafsd" %}
        {% assign pusher = tmp | push: bookid %}
<!--         {{pusher}} -->
        {% assign typesetters = typesetters| push: pusher %}             
    {% endfor %}  
  {% endfor %}  
{% endfor %}  
 
{% assign sorted = typesetters|sort%}
{% assign storage = ''|split: ' ' %}

{% assign current = '' %}
{% assign i = '' %}  

{% for typesetter in sorted   %}
  {% assign reader = typesetter[0] %}
  {% assign book = typesetter[1] %}
  {% if typesetter[0] != current %} 
    {% assign tmp = i |split: ' ' %} 
    {% assign tmp = tmp |push: current %}  
    {%if i != ''%} <!--for first iteration-->
      {% assign storage = storage| push: tmp %}
    {%endif %}
<!--     reinitialize -->
    {% assign current = typesetter[0] %}   
    {% assign i = '' %}    
  {% endif %}
  {% assign i = i| append:'.' %}
{% endfor %}
<!-- final element -->
{% assign tmp = i |split: ' ' %} 
{% assign tmp = tmp |push: current %} 
{% assign storage = storage| push: tmp %}
{% assign sorted = storage|sort%}  
{%assign index=sorted|size%}  <!--reversing an array seems to be complicated, so we count down from the length-->

<table id="typesetterHoF">
{%for ignore in  sorted %} 
  {% assign index=index|minus:1 %} 
  <tr>
    <td>  {{ sorted[index][1] }}</td><td>{{ sorted[index][0]|size }}</td>
  </tr>
{%endfor %}
</table>
</div>


<!-- Illustrator -->
<div id="illustrators">
<h3>Illustrators</h3>
{% assign illustrators = '' |split: ' ' %}  <!--empty array-->
{% for series in site.data.series %} 
  {% for book in series[1].members %} 
      {% assign bookid = book[0]  %}  
      {% for illustrator in  book[1].illustrators %}         
        {% assign tmp = illustrator| split: "sdfsafsd" %}
        {% assign pusher = tmp | push: bookid %}
<!--         {{pusher}} -->
        {% assign illustrators = illustrators| push: pusher %}             
    {% endfor %}  
  {% endfor %}  
{% endfor %}  
 
{% assign sorted = illustrators|sort%}
{% assign storage = ''|split: ' ' %}

{% assign current = '' %}
{% assign i = '' %}  

{% for illustrator in sorted   %}
  {% assign reader = illustrator[0] %}
  {% assign book = illustrator[1] %}
  {% if illustrator[0] != current %} 
    {% assign tmp = i |split: ' ' %} 
    {% assign tmp = tmp |push: current %}  
    {%if i != ''%} <!--for first iteration-->
      {% assign storage = storage| push: tmp %}
    {%endif %}
<!--     reinitialize -->
    {% assign current = illustrator[0] %}   
    {% assign i = '' %}    
  {% endif %}
  {% assign i = i| append:'.' %}
{% endfor %}
<!-- final element -->
{% assign tmp = i |split: ' ' %} 
{% assign tmp = tmp |push: current %} 
{% assign storage = storage| push: tmp %}
{% assign sorted = storage|sort%}  
{%assign index=sorted|size%}  <!--reversing an array seems to be complicated, so we count down from the length-->

<table id="illustratorHoF">
{%for ignore in  sorted %} 
  {% assign index=index|minus:1 %} 
  <tr>
    <td>  {{ sorted[index][1] }}</td><td>{{ sorted[index][0]|size }}</td>
  </tr>
{%endfor %}
</table>
</div>
 