---
layout: default
title: Home
---

<div role="main" class="pkp_structure_main">
  <div id="langsciHome">
    <div class="title">
<!--         <h2>Language Science Press</h2> -->
<!-- <p>High quality, peer-reviewed open-access books in linguistics.</p>  -->
    </div>  
    
    {%include slider.html%}

    <div class="additional_content">
<!--       <div class="icon-row"> -->
        <div class="langsci-icon-box">
          <a href="/resources/img/read.png">
          <img alt="read books" src="/resources/img/read.png" class="langsci-icon-box-image" />
          <br />Read books</a>
          </div>
          <div class="langsci-icon-box">
            <a href="/404">
            <img alt="publish with us" src="/resources/img/present.png" class="langsci-icon-box-image" />
            <br />Publish with us</a>
          </div>
<!--         </div> -->
<!--       <div class="icon-row"> -->
        <div class="langsci-icon-box">
          <a href="/support">
          <img alt="support us" src="/resources/img/support.png" class="langsci-icon-box-image" />
          <br />Support us</a>
        </div>
        <div class="langsci-icon-box">
          <a href="/about">
          <img alt="about the press" src="/resources/img/info.png" class="langsci-icon-box-image" />
          <br />About us</a>
        </div>
<!--       </div> -->
    </div>
  </div>
</div>
<ul>
{% for post in site.posts %} 
{% if post.layout==post%}
<li><a href="{{ post.url }}">{{ post.title }}</a> 
({{ post.date | date_to_string}})</li>
{%endif%}
{% endfor %}
</ul> 
<script type="text/javascript" charset="utf8" src="/owl.carousel.js"></script>
