---
layout: default
title: Series
permalink: /seriesoverview
---
<div> 
 

<ul class="unbulleted" id="serieslist">
{% for ss_hash in site.data.series  %}
  {% assign metadata = ss_hash[1] %}  
  {% assign acronym = metadata.acronym %}
      <li>
        <span>  
          
        <!--   calculate number of books -->
          {% assign count = 0 %} 
          {% for page in site.pages  %} 
            {% if acronym == page.bookseries %} 
              {% assign bookid = page.bookid  %} 
              {% include bookvariables.html %}
              {% assign count = count|plus: 1 %} 
              <a href="/book/{{page.bookid}}" title="{{citationstring}}: {{book.title}}">  
              <img class="seriesimg" src="/resources/img/{{page.bookid}}.png"/>
              </a>
            {% endif %} 
          {% endfor %}  
  
<!--         <a href="/series/{{metadata.acronym}}"> view </a> -->
<!--         {{ss.name}} -->  
          {% if count == 1 %} 
            ({{count}} book)
          {% else %} 
            ({{count}} books)  
          {% endif %}
          <a href="/series/{{acronym}}"> 
          {{metadata.name}}  </a>
        </span>
        
        
      </li>
    {% endfor %} 
  </ul>
</div>