---
layout: default
title: Series
permalink: /seriesoverview
---
<div> 
 

<ul class="unbulleted">
{% for ss_hash in site.data.series  %}
  {% assign metadata = ss_hash[1] %}  
  {% assign acronym = metadata.acronym %}
      <li>
        <span>  
        {{metadata.name}} 
          
        <!--   calculate number of books -->
          {% assign count = 0 %} 
          {% for page in site.pages  %} 
            {% if acronym == page.bookseries %} 
              {% assign count = count|plus: 1 %} 
<!--                {{page.bookid}} -->
            {% endif %} 
          {% endfor %}  
  
<!--         <a href="/series/{{metadata.acronym}}"> view </a> -->
<!--         {{ss.name}} -->  
          {% if count == 1 %} 
            ({{count}} book)
          {% else %} 
            ({{count}} books)  
          {% endif %}
          <a href="/{{acronym}}"> ➜ </a>
        </span>
      </li>
    {% endfor %} 
  </ul>
</div>