@import url(http://fonts.googleapis.com/css?family=Arimo);


body {
    font-size: 12px;
    font-family: Arimo, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;  
    background: #d0ecf6;
/*     padding-left: 50px; */
/*     padding-right: 20%; */
}

body>header h1>a {
    color:#564b47;
    text-decoration: none;
}

body>header h4 {
    margin-top: -10px;
}

h1,h2,h3,h4 {
    width: 100%;
    min-width: 840px;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 840px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #696969;
}

main {

	width: 75%;
	min-width: 600px;
	margin-left: 150px;
	display: block;
}

nav {
	float: left;
	width: 150px;
	min-width: 150px;
}

nav a,
nav a:visited,
nav a:active {
    color: #005680;
}

nav a:hover {
    color: #696969;
}

nav li {
    margin-left: -25px;
    list-style: none;
}

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 10px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
    text-decoration: none;
    color: blue;
}

article h2>a:hover {
    color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}

#catalogtable tr:nth-child(even) {
    background-color: #fcfcfc;
}

#catalogtable tr:nth-child(odd) {
    background-color: #fff;
}

#catalogtable td,#catalogtable th{ 
  padding: 5px;
}


#catalogtable td {
  text-align: left; 
}

#catalogtable th{
  text-align: center;
}



.jumbotron{
  background: white !important;
}

thead{
  border-top: 2px solid #005680;
  border-bottom: 3px double #005680;
  font-size: 120%;
}

.linkwrapper{
  width:100px;
/*   text-align:left; */
/*   float:right; */
}

.booklink {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    margin-top: 1px;
    padding: 0 2px 2px;
    text-align: center;
    width: 22px;
}

.booklink img{
  width:80%;
}

.leadcover{
 width:100px; 
}

td.bookidcell, th.bookidcell{
  display:none;
}

td.yearcell{
  text-align:right !important;
}

.myjumbotron{
  background:red;
}

#coverimg {
  float: right;
  padding: 0 20px 20px 20px;
  width: 30%;
}

#coverimg>img{
  width:100%;
  margin-bottom:5px;
}

.isbn{
  margin-top:2px;
}


.HoFtable{
  min-width:200px;
 border-top: 1px solid gray; 
 border-bottom: 1px solid gray; 
}

.HoFtable td{
/*  border: 1px solid gray;  */
 text-align:right;
 width: 50%;
 padding: 2px;
}

.HoFtable tr:nth-child(even){
 background:#fbfbfb; 
}

.unbulleted{
  list-style:none;
  padding:12px;
  margin:2px; 
}

.unbulleted li:nth-child(even) span{
/*   background:#eee;   */
}

.chapter {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 50%;
  line-height: 130%; 
}

.chapterfirstline{ 
  font-size: 120%;
  margin-bottom:1px;
}

 
.chapterid {
  display: inline-block; 
  font-size: 3rem;
  margin-right: 10px;
  vertical-align: top;
  width: 30px;
  padding-top:0px;
  margin-top:-5px;
}

.chaptersubtitle{
  font-size: 0.8em; 
}

.chapterauthors{
  font-size: 80%;
}

.chapterdoi{
  font-size:80%;
}

.chapterdownload{
  display:inline;  
  vertical-align:bottom;
/*   float:left; */
}

.chapterauthormetadatablock{
/*   min-width:50%; */
display:inline-block;    
margin-top: 5px;
}


#topbookblock{
  font-size:4rem;  
} 

#booksubtitle {
font-size: 3rem;
margin-bottom: 10px; 
}

.booksubtitle{
  font-size: 110%;
  font-style: italic;
}



#creators {
  font-size: 2rem;
  margin-bottom: 50px; 
}
 
#previousnextchapter{
    margin-top:20px;
}

#previouschapter,#nextchapter{
  width:30%;
  font-size:smaller;
}

#previouschapter{
  float:left;
}

#nextchapter{
  float:left;
  margin-left:30px;
}

#bibtexcitation{
  background:#ddeeff;
  border:1px solid darkgray;
  padding:2px;
  font-family: monospace;
  font-size: smaller;
}

#tagline{
  color:white;
  vertical-align:bottom;
  margin-top:50px;
}

.catalogcover{
  width:100px;
}

.title{
  font-size:120%;
  width:80%;
}

.author{
  width:80%;
}

.seriesimg{
  width:20px;
}

#serieslist li{
  margin-bottom:10px;
}

#headermenu{

}

#headermenu li, #headermenu li a{
color:white !important;
}

#headermenu li{
display:inline;
width:200px;
}

.has_submenu ul{
  width:0px;
  opacity:0;
  display: none;
}




.langsci-icon-box {
  background-color: white;
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 25%;
}
.langsci-icon-box:hover {
  background-color: #eee;
  border-radius: 5px;
}
.langsci-icon-box:hover .langsci-startpage-image {
  background-color: #eee;
  opacity: 1;
}
.langsci-icon-box:hover .a {
  color: #005680 !important;
}
.langsci-icon-box-image {
  display: block;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  width: 60px;
}
.langsci-icon-box-image:hover {
  opacity: 1;
}
 
h3.accordionHeader {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  font-weight: normal;
}
.langsci-accordion-icon {
  display: inline;
  float: left;
  height: 20px;
  opacity: 0.5;
  padding: 0 10px 0 0;
}
.langsci-accordion-icon:hover {
  opacity: 1;
}
.langsci-accordion-arrow {
  display: inline;
  float: left;
  padding: 10px 0 0;
}
.slider-container div {
  background-color: #eee;
  height: 40%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  width: 100%;
}
.slider-container h3, .slider-container p {
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
.owl-theme .owl-controls .owl-page span, .owl-theme .owl-controls .owl-buttons div {
/*   background-color: black !important; */
}
.obj_monograph_full .title {
  margin-bottom: 20px;
  margin-top: 30px;
}
.obj_monograph_full .langsci_author {
  margin-bottom: 5px;
}
.obj_monograph_full .chapters li {
  padding: 0;
}
.shariff {
  float: left;
}
.shariff li.info a::before {
  color: white !important;
}
.clear_left {
  clear: left;
}
.pkp_brand_footer {
  float: right;
}
.pkp_footer_content, .pkp_footer_content a {
  color: white;
}

.langsci_footer_navi {
  width: 80%;
  margin: auto;
}

.langsci_footer_navi div {
  display: inline-block;
  float: left;
  width: 20%;
}

.langsci_footer_meta {
  float: left;
}
.langsci_footer_meta a {
  padding-right: 15px;
}

.pkp_structure_footer_wrapper{
  background:#005680;
}

.shariff-button{
  display:inline;
}

#header, #footer{
  background: #005680 !important;
}

#headermenu{ 
}

#headermenu ul{ 
  padding-left:0px;
}

#headermenu li{ 
margin-right:20px;
margin-left:0px;
}

#header{
padding-top:50px;
margin-top:0px;
}

.nav-stacked{
  margin-left:0px;
  padding-left:0px;
}

.nav-stacked li li{
  list-style:none;
  border-bottom:2px solid grey;
  margin-top:20px;
  font-size:120%;
}

/*#customblock-langsci-sidenavi div ul li{
  padding-left: 5px;
  margin-top: 5px;
}*/

/* sidebar with lines */
.pkp_structure_sidebar div div ul li{
	border-bottom: 2px solid #005680;
}


body {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Noto Sans",Arial,Helvetica,sans-serif; 
}


#sidebar{
}

#sidebar ul{
list-style:none;
padding: 0;
}

#sidebar a{
text-decoration: none;
color: #005680;
 font-size: 14px;
 line-height: 20px;
}

#sidebar li{
  padding: 10px 0;
/*   margin-left:-10px; */
}

.pkp_block .title{
    color: rgba(0, 0, 0, 0.54);
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
}


 