       <div role="contentinfo" class="pkp_structure_footer_wrapper">
       <div class="container">  
       <div class="pkp_structure_footer">
       <div class="pkp_footer_content">
       <div data-url="http://dev.langsci-press.org" data-backend-url="/shariff-backend/" data-theme="grey" data-orientation="horizontal" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;,&quot;info&quot;]" data-lang="en" class="shariff">
       &nbsp;
       
       <ul class="theme-grey orientation-horizontal">
       <li class="shariff-button facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdev.langsci-press.org" rel="popup" title="Share on Facebook"><span class="share_text">share</span></a></li>
       
       <li class="shariff-button twitter"><a href="https://twitter.com/intent/tweet?text=%0A%09%09Language%20Science%20Press%0A%09&amp;url=http://dev.langsci-press.org" rel="popup" title="Share on Twitter"><span class="share_text">tweet</span></a></li>
       
       <li class="shariff-button googleplus"><a href="https://plus.google.com/share?url=http://dev.langsci-press.org" rel="popup" title="Share on Google+"><span class="share_text">+1</span></a></li>
       
       <li class="shariff-button info"><a href="http://ct.de/-2467514" target="_blank" title="more information"><span class="share_text">Info</span></a></li>
       </ul>
       </div>
       
       <p>&nbsp;</p>
       
       <div class="clear_left">
       &nbsp;
       </div>
       
       <div class="langsci_footer_navi">
       <div>
       <h3>Browse</h3>
       
       <ul>
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/catalog">Catalog</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/series">Series</a></li>
       </ul>
       </div>
       
       <div>
       <h3>Background</h3>
       
       <ul>
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/motivation">Motivation</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/vision">Vision</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/setup">Setup</a></li>
       </ul>
       </div>
       
       <div>
       <h3>Community</h3>
       
       <ul>
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/advisoryBoard">Advisory board</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/supporters">Supporters</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/sponsors">Sponsors</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/hallOfFame">Hall of fame</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/supportUs">Support us</a></li>
       </ul>
       </div>
       
       <div>
       <h3>Information</h3>
       
       <ul>
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/forAuthors">For authors</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/forReaders">For readers</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/forEditors">For editors</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/forLibrarians">For librarians</a></li>
       </ul>
       </div>
       
       <div>
       <h3>Follow us</h3>
       
       <ul>
       <li><a href="https://www.facebook.com/langsci/">Facebook</a></li>
       
       <li><a href="https://twitter.com/LangSciPress">Twitter</a></li>
       
       <li><a href="http://userblogs.fu-berlin.de/langsci-press/">Blog</a></li>
       
       <li><a href="http://dev.langsci-press.org/index.php/langsci-press/newsletter">Newsletter</a></li>
       </ul>
       </div>
       </div>
       
       <div class="clear_left">
       &nbsp;
       </div>
       
       <div class="langsci_footer_meta">
       <a href="http://dev.langsci-press.org/index.php/langsci-press/about">About us</a> <a href="http://dev.langsci-press.org/index.php/langsci-press/contact">Contact</a> <a href="http://dev.langsci-press.org/index.php/langsci-press/imprint">Imprint</a>
       </div>
       </div>
       </div>
       </div> 
       </div> 
       