
    <!--         <p>{{ site.description }}</p> -->
    <a href="/"><img width="182" height="96" alt="Page Header Logo" src="http://langsci-press.org/public/presses/1/pageHeaderLogoImage_en_US.png"></a> <!--         <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    
    <div id="tagline">
    High quality, peer-reviewed open-access books in linguistics.
    </div>
    
    <div class="pkp_navigation_primary_wrapper" id="headermenu">
    <ul class="pkp_navigation_primary pkp_nav_list" id="navigationPrimary">
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/catalog">Catalog</a></li>
    
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/series">Series</a></li>
    
    <li class="has_submenu">
    <a>Background</a>
    
    <ul style="">
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/motivation">Motivation</a></li>
    
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/setup">Setup</a></li>
    
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/vision">Vision</a></li>
    </ul>
    </li>
    
    <li class="has_submenu">
    <a>Community</a>
    
    <ul style="">
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/advisoryBoard">Advisory Board</a></li>
    
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/supporters">Supporters</a></li>
    
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/sponsors">Sponsors</a></li>
    
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/hallOfFame">Hall of Fame</a></li>
    
    <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/supportUs">Support us</a></li>
    </ul>
    </li>
    </ul><!--      <form role="search" method="post" action="http://dev.langsci-press.org/index.php/LangSci-Press/catalog/results" class="pkp_search">
    <input type="text" aria-label="Search Query" value="" name="query">
    <button type="submit">
    Search
    </button>
    <div aria-hidden="true" class="search_controls">
    <a aria-hidden="true" class="headerSearchPrompt search_prompt" href="http://dev.langsci-press.org/index.php/LangSci-Press/catalog/results">
    Search
    </a>
    <a aria-hidden="true" class="search_cancel headerSearchCancel" href="#"></a>
    <span aria-hidden="true" class="search_loading"></span>
    </div>
    </form>   -->
    </div>
    </div>
    
    