
      <div class="row">
      <div class="col-md-3">
  <a href="/"><img width="182" height="96" alt="Page Header Logo" src="http://langsci-press.org/public/presses/1/pageHeaderLogoImage_en_US.png"></a>  


</div>
<div class="col-md-9" position="relative" style="min-height:100px;">
<!--  <div id="tagline">
  High quality, peer-reviewed open-access books in linguistics.
  </div>-->

  <div class="pkp_navigation_primary_wrapper" id="headermenu" style="position:absolute;bottom:10px;">
    <ul class="pkp_navigation_primary pkp_nav_list" id="navigationPrimary">
      <li><a href="/catalog">Catalog</a></li>

      <li><a href="/seriesoverview">Series</a></li>

      <li class="has_submenu">
        <a>Background</a>

        <ul style="">
          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/motivation">Motivation</a></li>

          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/setup">Setup</a></li>

          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/vision">Vision</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a>Community</a>

        <ul style="">
          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/advisoryBoard">Advisory Board</a></li>

          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/supporters">Supporters</a></li>

          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/sponsors">Sponsors</a></li>

          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/hallOfFame">Hall of Fame</a></li>

          <li><a href="http://dev.langsci-press.org/index.php/LangSci-Press/supportUs">Support us</a></li>
        </ul>
      </li>
      </ul>
      </div>
      </div>
    </div>
    