<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
  <ul class="jq-dropdown-menu"> 
  <li><a href="/motivation">Motivation</a></li>
  
  <li><a href="/setup">Setup</a></li>
  
  <li><a href="/vision">Vision</a></li>
  
  </ul>
</div>

<div id="jq-dropdown-2" class="jq-dropdown jq-dropdown-tip">
<ul class="jq-dropdown-menu">
<li><a href="/advisoryBoard">Advisory Board</a></li>

          <li><a href="/supporters">Supporters</a></li>
          
          <li><a href="/sponsors">Sponsors</a></li>
          
          <li><a href="/hallOfFame">Hall of Fame</a></li>
          
          <li><a href="/supportUs">Support us</a></li>
</ul>
</div>