        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collaborator" aria-expanded="false" aria-controls="collapseExample"><span class="icon-bar">_</span> <span class="icon-bar">_</span> <span class="icon-bar">_</span></button>
        
        <div class="collapse navbar-collapse" id="collaborator">
        <div class="panel-heading"></div>
        
        <ul class="nav nav-stacked">
        <li class="active"><a href="#"></a></li>
        
<!--        <li><a href="/catalog">Books</a></li>
        
        <li><a href="/seriesoverview">Series</a></li>-->
        
        <li>
<!--         <a>Guidelines <span class="sf-sub-indicator">»</span></a> -->
        <a>Information <span class="sf-sub-indicator">»</span></a>
        
        <ul>
        <li><a href="/guidelinesReaders">For readers</a></li>
        <li><a href="/guidelinesAuthors">For authors</a></li>
        <li><a href="/templates">Templates and tools</a></li>
        <li><a href="/guidelinesEditors">For editors</a></li>
        <li><a href="/guidelinesLibrarians">For librarians</a></li>
        </ul>
        </li>
        
 <!--       
        <li>
        <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/support">Support us</a></li>
        <li><a href="/advisoryboard">Advisory board</a></li>
        <li><a href="/supporters">Supporters FIXME</a></li>
        <li><a href="/halloffame">Hall of fame</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/editorialpolicies">Editorial policies</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/impressum">Impressum</a></li>
        </ul>        
        </li>-->
        
<!--         <li><a href="/blog">Blog</a></li> -->
        </ul>
        </div><!-- /.navbar-collapse -->