<div id="sidebar" class="pkp_structure_sidebar left" role="complementary" aria-label="Sidebar">
  <div class="pkp_block block_custom" id="customblock-langsci-sidenavi">
    <div class="content">
      <p><span class="title">Information</span></p>

      <ul>
	<li><a href="/guidelinesReaders">For readers</a></li>

	<li><a href="/guidelinesAuthors">For authors</a></li>

	<li><a href="/templates">Templates and Tools</a></li>

	<li><a href="/guidelinesEditors">For editors</a></li>

	<li><a href="/guidelinesLibrarians">For librarians</a></li>
      </ul>
    </div>
  </div>
</div>