    <div class="owl-carousel owl-theme" id="owl-slider" style="display: block; opacity: 1;">
    <div class="owl-wrapper-outer autoHeight" style="height: 475px;">
    <div class="owl-wrapper" style="width: 4800px; left: 0px; display: block;">
    <div class="owl-item" style="width: 800px;">
    <div class="slider-container">
    <img alt="slider image 001" src="/resources/candy/001.jpg" />
    <div>
    <h3>Language Science Press</h3>
    <p>Language Science Press publishes high quality, peer-reviewed open-access books in linguistics. 
    <a href="http://dev.langsci-press.org/index.php/langsci-press/about">Read more ...</a></p>
    </div>
    </div>
    </div><!--
    <div class="owl-item" style="width: 800px;">
    <div class="slider-container">
    <img alt="slider image 001" src="http://dev.langsci-press.org/public/site/img/slider/002.jpg" />
    <div>
    <h3>LangSci community</h3>
    <p>Language Science Press has a strong community. See the following sites 
    <a href="http://dev.langsci-press.org/index.php/langsci-press/about">Read more ...</a></p>
    </div>
    </div>
    </div>
    <div class="owl-item" style="width: 800px;">
    <div class="slider-container">
    <img alt="slider image 001" src="http://dev.langsci-press.org/public/site/img/slider/003.jpg" />
    <div>
    <h3>Background</h3>
    <p>Language Science Press publishes is inspired by Lorem ipsum. 
    <a href="http://dev.langsci-press.org/index.php/langsci-press/about">Read more</a></p>
    </div>
    </div>-->
    </div>
    </div>
    </div>
    <div class="owl-controls clickable">
    <div class="owl-pagination">
    <div class="owl-page active">
    <span class=""></span>
    </div>
    <div class="owl-page">
    <span class=""></span>
    </div>
    <div class="owl-page">
    <span class=""></span>
    </div>
    </div>
    <div class="owl-buttons">
    <div class="owl-prev">◀</div>
    <div class="owl-next">▶</div>
    </div>
    </div>
    </div>-->