---
layout: default
---
{% assign bookseries =  page.bookseries %}
{% assign bookid =  page.bookid |append: '' %} <!--cast to string-->
{% include bookvariables.html %}

<div id="topbookblock">
<div>{{book.prefix}} {{ book.title }} </div>
{%if book.booksubtitle%}
  <div id="booksubtitle"> {{ book.booksubtitle }} </div>
{%endif %}

<div id="creators"> {{ creatorstring }} </div>

</div>


<div id="coverimg">
  <img src="/resources/img/{{page.bookid}}.png">
  <div class="linekwrapper">
    <div class="booklink" id="downloadpdf"> <a href="/{{ page.bookid }}/main.pdf"><img src="/resources/img/pdf.jpeg"/><a> </div>
    <div class="booklink" id="createspace"> <a href="{{book.createspace}}"><img src="/resources/img/amazon.png"/></a> </div>
    <div class="booklink" id="bod"> <a href="{{book.bod}}"><img src="/resources/img/bod.jpg"/></a></div>
    <div class="booklink"> <a href="https://paperhive.org/documents/remote?type=langsci&amp;id={{bookid}}"><img src="/resources/img/paperhive.png"/></a></div>
    <div class="booklink"> <a href="https://www.github.com/langsci/{{bookid}}"><img src="/resources/img/github.png"/></a></div>
  </div>
  <div id="metadata">
  <h4> Series </h4>
     <div id="seriesposition">
     <span id="seriestitle"> <a href="/series/{{site.data.series[page.bookseries].acronym}}">{{site.data.series[page.bookseries].name}} </a></span> <span id="seriesnumber"> {{book.seriesnumber}} </span>
     </div>
    <div id="isbns">

      <h4> ISBNs </h4>
      {% for isbn in book.isbns %}
          {% assign key = isbn[0]%}
          {% assign value = isbn[1]%}
          <div class="isbn">
            <span class="isbntype">{{key}}</span>:
            <span class="isbnvalue">{{value}}</span>
          </div>
      {% endfor %}

    </div>

    {% if book.doi %}
      <h4> DOI </h4>
    <div id="doi">
      DOI: <span id="doi">{{book.doi}}</span>
    </div>
    {% endif %}
    <div id="publicationdate">
      Published: <span id="doi">{{book.publicationdate}}</span>
    </div>
  </div>

  <h4> Cite as </h4>
  <div id="citation">
  {{ citationstring }}.
  {{publicationyear}}.
  {{book.prefix}}
  {{book.title}}
  {%if book.booksubtitle%}
  : {{book.booksubtitle}}.
  {%endif%}
  ({{site.data.series[page.bookseries].name}}
  {{book.seriesnumber}}).
  Berlin:
    Language Science Press.
    </div>
    <div id="bibtex">

      <div id="bibtexcitation">
@book{<!---->{{site.data.series[page.bookseries].acronym}}{{book.seriesnumber}},<br />
{%if bibtexauthorstring != -1 %}author = {<!---->{{bibtexauthorstring}}},<br />{%endif%}
{%if bibtexeditorstring != -1 %}editor = {<!---->{{bibtexeditorstring}}},<br />{%endif%}
{%if book.booksubtitle%}
  title = {<!---->{{book.prefix}}{{book.title}}: {{book.booksubtitle}}},<br />
{%else%}
  title = {<!---->{{book.prefix}}{{book.title}}},<br />
{%endif%}
year = {<!---->{{publicationyear}}},<br />
series = {<!---->{{site.data.series[page.bookseries].acronym}}},<br />
number = {<!---->{{book.seriesnumber}}},<br />
address = {Berlin},<br />
publisher = {Language Science Press}<br />
}
      </div>
    </div>

  <div id="acknowledgements">
    {% if book.proofreaders %}
    <div id="proofreaders">
      <h4> Proofreaders </h4>
      <ul>
      {%for pr in book.proofreaders%}
        <li>{{pr}}</li>
      {%endfor%}
    </div>
    {%endif%}
    {% if book.typesetters %}
    <div id="typesetters">
            <h4> Typesetters </h4>
      <ul>
      {%for pr in book.typesetters%}
        <li>{{pr}}</li>
      {%endfor%}
    </div>
    {%endif%}
    {% if book.illustrators %}
    <div id="illustrators">
            <h4> Illustrators </h4>
      <ul>
      {%for pr in book.illustrators%}
        <li>{{pr}}</li>
      {%endfor%}
    </div>
    {%endif%}
  </div>
</div>

<div id="downloadlinks">
</div>

<div id="synopsis">
<h3> About this book </h3>
{{book.blurb}}
  </div>

  {%for author in book.creators.authors%}
  <h3> About  {{ author[0] }} {{author[1] }} {{author[2] }} </h3>
  <div class="creatorbio">
  {{ author[3] }}
  </div>
  {% endfor %}

  {%for editor in book.creators.editors%}
  <h3> About  {{ editor[0] }} {{editor[1] }}  {{editor[2] }} </h3>
  <div class="creatorbio">
  {{ editor[3] }}
  </div>
  {% endfor %}

{%if book.chapters%}
<h3> Chapters </h3>
  <div id="chapters">
    {%for chapter in book.chapters%}
      <br />
      <div class="chapterid"> <a href="../chapters/{{ bookid }}-{{ chapter.number }}">{{ chapter.number }}</a> </div>
      <div class="chapter">
        <div class="chapterheading">
          <div class="chapterfirstline">
            <div class="chaptertitle"> {{ chapter.title }} </div>
            <div class="chaptersubtitle"> {{ chapter.subtitle }} </div>
          </div>
        </div>
        <div class="chapterauthormetadatablock">
          <div class="chapterauthors">
            {% assign chapterauthorlist = '' | split: ' ' %} <!--initialize array-->
            {% for  chapterauthor in chapter.authors %}
              {% assign normalizedchapterauthor = chapterauthor| join: " " %}
              {% assign chapterauthorlist = chapterauthorlist | push:  normalizedchapterauthor %}
            {% endfor %}
            {% assign chapterauthorstring = chapterauthorlist | join:  ', ' %}
            {{ chapterauthorstring }}
          </div>
          <div class="chapterdoi"> DOI:
            <span> {{ chapter.chapterdoi }} </span>
          </div>
        </div>
        <div class="chapterdownload" >
          <a href="{{ chapter.downloadlink}}"> <img src="/resources/img/pdf.jpeg" width="30px" /></a>
        </div>
      </div>
    {%endfor%}
  </div>
{%endif%}
