---
layout: default   
---

{% assign bookid =  page.bookid|append : '' %}
{% assign book =  site.data.books[bookid] %}
{% assign chapternumber =  page.chapternumber %}
{% assign chapternumberarray =  chapternumber|minus: 1 %}
{% assign chapter = book.chapters[chapternumberarray] %}


<div id="chapters"> 
  <div class="chapterid"> {{ chapter.number }} </div> 
  <div class="chapter">
    <div class="chapterheading">
      <div class="chapterfirstline">
        <div class="chaptertitle"> {{ chapter.title }} </div> 
        <div class="chaptersubtitle"> {{ chapter.subtitle }} </div>
      </div>
    </div>
    <div class="chapterauthormetadatablock">
      <div class="chapterauthors">   
        {% assign chapterauthorlist = '' | split: ' ' %} <!--initialize array-->
        {% for  chapterauthor in chapter.authors %} 
        {% assign normalizedchapterauthor = chapterauthor| join: " " %} 
        {% assign chapterauthorlist = chapterauthorlist | push:  normalizedchapterauthor %}       
        {% endfor %} 
        {% assign chapterauthorstring = chapterauthorlist | join:  ', ' %}
        {{ chapterauthorstring }}
      </div>
      <div class="chapterdoi"> DOI:
        <span> {{ chapter.chapterdoi }} </span>
      </div> 
    </div> 
    <div class="chapterdownload" >
    <a href="{{ chapter.downloadlink}}"> <img src="/resources/img/pdf.jpeg" width="30px" /></a>
    </div> 
  </div> 
</div> 

<div id="parentbook">
Part of: <a href="/book/{{bookid}}">{{book.title}}</a>
</div>

{% assign previouschapternumber = chapternumber|minus: 1%}
{% assign previouschapternumberarray = chapternumberarray|minus: 1%}
{% if previouschapternumber != 0 %}
  {% assign previouschapter =book.chapters[previouschapternumberarray] %}

  <div id="previousnextchapter">
    <div id="previouschapter">
      Previous:   <a href="/chapters/{{bookid}}-{{previouschapternumber}}">{{previouschapternumber}}: {{previouschapter.title}}</a> 
    </div>
  {% endif %}

  {% assign nextchapternumber = chapternumber|plus: 1%}
  {% assign nextchapternumberarray = chapternumberarray|plus: 1%}
  {% assign nextchapter =book.chapters[nextchapternumberarray] %}
  {% assign lastchapter = book.chapters | size %} 
  <!-- {{nextchapternumber}} {{lastchapter}} -->
  {% if chapternumber != lastchapter %}

  <div id="nextchapter">
    Next: <a href="/chapters/{{bookid}}-{{nextchapternumber}}">{{nextchapternumber}}:{{nextchapter.title}} </a>
  </div>
  {% endif %}
</div>

<!-- {{book.chapters | size:}} -->