<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />



        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/animation.css">
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->
        <script type="text/javascript" charset="utf8" src="./jquery-3.0.0.js"></script>
        <script type="text/javascript" charset="utf8" src="./jquery.tablesorter.js"></script>
<!--         <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css"> -->
<!--         <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script> -->

<!-- Bootstrap -->
    <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">  
    <link href="jumbotron.css" rel="stylesheet">
 <!-- end Bootstrap -->


    </head>

    <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">Books</span>
            <span class="icon-bar">Series</span>
            <span class="icon-bar">Guidelines</span>
          </button>
          <a class="navbar-brand" href="#">{{ site.name }}<</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>{{ site.description }}</p>

        <img width="182" height="96" alt="Page Header Logo" src="http://langsci-press.org/public/presses/1/pageHeaderLogoImage_en_US.png" />

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-2">
        <nav>

            <h3>First Heading</h3>
 
            <ul class="sf-menu sf-js-enabled sf-shadow">
            <li>
            <a href="http://langsci-press.org//catalog" class="pkp_helpers_underline">Books</a>
            </li>
            <li>
            <a href="http://langsci-press.org//series">Series</a>
            </li>
            <li>
            <a class="sf-with-ul">Guidelines 
            <span class="sf-sub-indicator">»</span></a>
            <ul class="displaynonevisibilityhidden">
            <li>
            <a href="http://langsci-press.org//forAuthors">For Authors</a>
            </li>
            <li>
            <a href="http://langsci-press.org//forEditors">For Editors</a>
            </li>
            <li>
            <a href="http://langsci-press.org//forReaders">For Readers</a>
            </li>
            <li>
            <a href="http://langsci-press.org//forLibrarians">For Librarians</a>
            </li>
            <li>
            <a href="http://langsci-press.org//templatesAndTools">Templates</a>
            </li>
            </ul>
            </li>
            <li>
            <a class="sf-with-ul">Information 
            <span class="sf-sub-indicator">»</span></a>
            <ul class="displaynonevisibilityhidden">
            <li>
            <a href="http://langsci-press.org//about">About</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/support">Support us</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/advisoryBoard">Advisory board</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/supporters">Supporters</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/hallOfFame">Hall of fame</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/contact">Contact</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/editorialPolicies">Editorial policies</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/sponsorship">Sponsors</a>
            </li>
            <li>
            <a href="http://langsci-press.org//about/imprint">Imprint</a>
            </li>
            </ul>
            </li>
            <li>
            <a href="http://userblogs.fu-berlin.de/langsci-press/">Blog</a>
            </li>
            </ul>  
        </nav>
        </div>
        <div class="col-md-8">
          {{ content }}
       </div> 
      </div>



 
 
        <footer>

        <!-- pkp_structure_body -->
        <div class="pkp_structure_foot">
        <div class="pkp_structure_subfoot">
        <div class="pkp_structure_content">
        <a href="http://langsci-press.org//about/aboutThisPublishingSystem">
        <img src="http://langsci-press.org/templates/images/omp_brand.png" alt="Open Monograph Press" class="pkp_helpers_align_right" />
        </a>
        <a href="http://pkp.sfu.ca/omp">
        <img src="http://langsci-press.org/lib/pkp/templates/images/pkp_brand.png" alt="Public Knowledge Project" class="pkp_helpers_align_right pkp_helpers_clear" />
        </a>
        </div>
        <!-- pkp_structure_content -->
        <div class="pkp_structure_content">
        <div data-url="http://langsci-press.org" data-theme="standard" data-backend-url="http://langsci-press.org/shariff-backend" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;,&quot;info&quot;]" data-lang="en" class="shariff">
        <ul class="theme-standard orientation-horizontal">
        <li class="shariff-button facebook">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flangsci-press.org" rel="popup" title="Share on Facebook">
        <span class="share_text">share</span>
        <span class="share_count">481</span>
        </a>
        </li>
        <li class="shariff-button twitter">
        <a href="https://twitter.com/intent/tweet?text=Catalog&amp;url=http://langsci-press.org" rel="popup" title="Share on Twitter">
        <span class="share_text">tweet</span>
        </a>
        </li>
        <li class="shariff-button googleplus">
        <a href="https://plus.google.com/share?url=http://langsci-press.org" rel="popup" title="Share on Google+">
        <span class="share_text">+1</span>
        <span class="share_count">22</span>
        </a>
        </li>
        <li class="shariff-button info">
        <a href="http://ct.de/-2467514" target="_blank" title="more information">
        <span class="share_text">Info</span>
        </a>
        </li>
        </ul>
        </div>
        </div>
        <!-- pkp_structure_content -->
        </div>
        <!-- pkp_structure_subfoot -->
        </div>
        <!-- pkp_structure_foot -->
        
        </footer>

        <script src="{{site.baseurl}}/scripts.js"></script>    
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!--     <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="bootstrap.min.js"></script>
  </body>

</html>
